# App Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=your_secret_key_here

# Database Configuration (MongoDB Atlas recommended for Production)
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/your_db_name?retryWrites=true&w=majority

# Cloudinary Configuration (For Image Uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
